<ion-view view-title="Info User">

	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content>
		<div class="list card">

			<div class="item item-icon-left">
		    	<i class="icon ion-flag"></i>
		   		Language : {{language}}
		  	</div>

			<div href="#" class="item item-icon-left">
				<i class="icon ion-star"></i>
				Number Of Translations Post : {{countTranslations}}
			</div>

		</div>
	</ion-content>

</ion-view>