<ion-view view-title="">

	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content class="has-header">
		<ion-list type="list-inset">
			<ion-item href="#/app/wordsList/{{activePack.id}}" class="item-remove-animate item-icon-right" ng-repeat="activePack in mainList track by activePack.id">
				<h2>{{activePack.name}}</h2>
				<div class="icon">
					<a class="ion-compose dark" href="#/app/wordsList/{{activePack.id}}"></a>
					&nbsp; &nbsp;
					<a class="ion-eye-disabled dark" ng-click="remove(activePack.id)"></a>
				</div>	
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>