<!--The list that we can see in the menu, with the different icons-->
<ion-side-menus>

      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-dark">

          <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="has-header">
          <ion-list>
            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.home">
              <i class="icon ion-home"></i>
              Home
            </ion-item>

            <ion-item class="item-icon-left" nav-clear menu-close>
              <i class="icon ion-person"></i>
              Login
            </ion-item>
            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
              <i class="icon ion-android-settings"></i>
              Settings
            </ion-item>
             <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.infouser">
              <i class="icon ion-ios-information"></i>
              Info User
            </ion-item>           
          </ion-list>
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>