<!--Untouched List view, where we can delete a list-->
<ion-view view-title="Untouched">

	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content>

		<ion-list type="list-inset">
			<ion-item class="item-remove-animate item-icon-right" ng-repeat="untouched in untouchedList track by untouched.id" ng-if="!untouched.has_parrent" ng-click="goToWordsListFromUntouched(untouched.cawl_H_ID)">
				<h2>{{untouched.name}}</h2>
				<div class="icon">
					<a class="ion-compose dark" ng-click="goToWordsListFromUntouched(untouched.cawl_H_ID); $event.stopPropagation()"></a>
					&nbsp; &nbsp;
					<a class="ion-trash-b assertive" ng-click="remove(untouched.cawl_H_ID); $event.stopPropagation()"></a>
				</div>
			</ion-item>
		</ion-list>


	</ion-content>

</ion-view>