<ion-view view-title="{{category.name}} - {{currentWordNumber}}/{{category.wordsList.length}}">
	
	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	<ion-content>
		<div class="padding card">
	        <div>
	          <h4 class="text-center">{{word.term}}</h4>
	          	<div class="padding">
	            	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            	tempor incididunt ut labore.
	          	</div>
	        </div>

	        <label class="item item-input">
	          <input type="text" placeholder="Translate" id="input_text" ng-model="catTest.translations[currentWordIndex].translation">
	        </label>

	        <div class="button-bar">
		        <a class="button button-block button-trans ion-android-happy" ng-click="translate()"></a>
		        <a class="button button-block button-later ion-android-time" ng-click="later()"></a>
		        <a class="button button-block button-skip ion-android-sad" ng-click="skip()"></a>
	        </div>

    	</div>
	</ion-content>

</ion-view>